.basic_left table
{
	width: 40px;
	vertical-align: top;
}

.basic_left thead
{
	font-size: 16px;
    font-family: Arial;
}
.basic_left tbody
{
	font-size: 12px;
    font-family: Arial;
}
.basic_left td
{
	text-align: right;
}
/*----------------------------- Style for The Middle Table on the Basic Page -------------------------------*/

/* This is the gradient code for the turquoise subtable in the center of the basic page - Thank you http://www.colorzilla.com/gradient-editor/ for the rgb numbers */
.basic_center tbody
{
	font-size: 12px;
    font-family: Arial;
    color:#000000;
	background-color:#F6F4F0;
	background-color:#D0E69C;
	background-color:#DCECB5;
	background-color:#e5eecc;
	margin:0px;
	padding:5px;
	border:1px solid #d4d4d4;
	background: -moz-linear-gradient(-45deg, rgba(229,248,251,0.02) 0%, rgba(224,247,250,0.4) 10%, rgba(205,248,250,1) 26%, rgba(116,252,252,1) 100%); /* FF3.6+ */
}

.basic_center_no_color tr
{
	/*------ code for *invisible* bottom "row" of middle table (one that has the turquoise button) ---------*/ 
	font-size: 12px;
    font-family: Arial;
    color:#000000;
	background-color:#F6F4F0;
	background-color:#D0E69C;
	background-color:#DCECB5;
	background-color:#e5eecc;
	margin:0px;
	padding:5px;
	border:1px solid #d4d4d4;
	background: white; /* FF3.6+ */
}

input, button, select, option, radio {
	font-size: 12px;
    font-family: Arial;
}
/*----------------------------- Style for The Far Right Table on the Basic Page (QR Code, etc) -------------------------------*/

.basic_right table
{
	width: 40px;
	vertical-align: top;
}
.basic_right th
{
	font-size: 16px;
    font-family: Arial;
}
.basic_right tbody
{
	font-size: 12px;
    font-family: Arial;
}
.basic_right td
{
	text-align: left;
}

/*----------------------------- Style for The Bottom. Sorry bad name - not all the way at the bottom (that's the footer)-------------------------------*/
.bottom
{ 
	width: 60%; 
	margin-left: auto;
	margin-right: auto;
}
p 
{
	font-size: 12px;
    font-family: Arial;
}

.indent 
{
	font-size: 12px;
    font-family: Arial;
	
	/* about a half inch */
	margin-left: 3.0em; 
	text-indent: -1.5em;
	margin-bottom: 0;
}
#bottom_message  
{ 
	font-size: 16px;
    font-family: Arial; 
	color:#FF0000;
}

.footer
{
	text-align: left;
}

/*----------------------------- This here is the code for the hover action of the big oval turquoise buttons ---------------------------------*/

#menu {
	font-size: 12px;
    font-family: Arial;
	
	width: 60%; 
	margin-left: auto;
	margin-right: auto;
}

#menu ul {
	margin: 0;
	padding: 00px 20px 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	float: left;
	width: 140px;
	height: 35px;
	margin: 5px 0 0 5px;
	padding: 8px 0 0 0;
	background: white url(../images/bt1a.png) no-repeat;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font-size: 1.1em;
	font-weight: bold;
	color: brown;
}

#menu a:hover, #menu .current_page_item a {
	background: white url(../images/bt2a.png) no-repeat;
}

/*--------------------------------- Turquoise Search Button-----------------------------------------------------------------------------*/
.submit_button {
    width: 80px;
    height: 29px;
/*    font-size: 1.2em; */
/*    font-size: 120%;*/
    font-size: small;
    border: 1px solid blue;
    background: rgba(116,252,252,1);
}
